.navbar_container {
  width: 100%;
  padding: 20px;
}
.navbar_logo {
  width: 28%;
  color: #0d6efd !important;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar_actions {
  display: flex;
  justify-content: space-between;
}
.search_container {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 20%;
  border: 2px solid #0d6efd;
  border-radius: 30px;
  overflow: hidden;
}
.search_input {
  flex: 1;
  border: none;
  padding: 13px;
  outline: none;
}
.search_input[placeholder] {
  font-size: 120%;
}
.search_button {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 30px !important;
  padding: 10px 12px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
}
.search_button:hover {
  background: rgba(255, 105, 0, 1);
}
.navbar_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.navbar_buttons > button {
  padding: 10px 12px;
  background-color: #0d6efd;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.navbar_buttons > button:hover {
  background: rgba(255, 105, 0, 1);
}
.navbar_routing {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #0d6efd;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.dropdown_menus {
  width: 60%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 26%;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 3px 12px;
  position: relative;
  font-size: 14px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: #57a4ff;
  cursor: pointer;
  border: none;
}
.dropdown-toggle > img {
  width: 27px;
  padding-right: 10px;
}
.dropdown-menu {
  position: absolute;
  font-size: 14px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: white;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.dropdown-menu li {
  padding: 1px 41.2px;
  border: 1px solid #eae7e7;
}

.dropdown-menu li a {
  width: 105px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: rgb(233, 231, 231);
}
.navbar_li {
  width: 40%;
  position: relative;
  display: inline-block;
}
.navbar_li ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_li li {
  text-transform: uppercase;
}
.navbar_li a {
  color: white;
  padding: 3px 10px;
  transition: 0.5s;
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 2px
    no-repeat;
}
.navbar_li a:hover {
  --d: 100%;
}
