.footer_container {
  background-color: #0d6efd;
  color: white;
  padding: 40px 0;
  margin-top: 20px;
}

.footer_container h4,
p {
  color: white !important;
  padding: 10px;
}
.footer_contacts {
  display: flex;
  justify-content: space-between;
}

.footer_contacts > div {
  display: flex;
  align-items: center;
}

.footer_contacts img {
  width: 30px;
  margin-right: 10px;
}
.footer_contact {
  width: 21%;
  padding: 10px;
  margin: 10px;
}
