* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
li {
  list-style-type: none !important;
}
span {
  color: #444;
}
p {
  color: #444;
}
a {
  text-decoration: none !important;
  font-size: 14px !important;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
hr {
  width: 100%;
  border: 1px solid #e2e2e2;
}
h2 {
  font-weight: 700;
  font-size: 36px !important;
  line-height: 150% !important;
}
h3 {
  font-weight: 700 !important;
  font-size: 27px !important;
  line-height: 150% !important;
  margin-bottom: 0 !important;
}
h4 {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: #444;
}
p {
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 150%;
  margin-bottom: 0 !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
